<div class="d-flex justify-content-between align-items-center mt-3">
  <h1>Articles</h1>
</div>

<ul class="list-group">
  <% @articles.each do |article| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to article.title, article, class: 'link-underline-light text-info font-weight-bold' %>
      <div class="btn-group">
        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
        <%= link_to 'Delete', article, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary mt-3' %>
